body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #f9f9f9;
}

h1, h2 {
    color: #333;
}

input, button {
    padding: 5px 10px;
    margin: 5px;
    font-size: 16px;
}

#chatBox {
    border: 1px solid #ccc;
    height: 200px;
    overflow-y: scroll;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #fff;
    text-align: left;
}

.chatMessage {
    border-bottom: 1px solid #eee;
    padding: 3px;
}

#cartacei img {
    margin: 5px;
    border: 1px solid #ccc;
}
